<h1>Hola Mundo</h1>
<hr>
<p>Priemera App en angular</p>
<hr> 
<h2> Expresiones en angular con doble llave  </h2><br>
<code> <h1>  </h1> </code>
<hr>
<span> Para hacer la referencia a una propiedad del componente.ts </span>
<p> {{ title }} </p> 
<span> Accediendo a la propiedad counter del archivo .ts </span>
<p> Conuter: {{ counter }} </p> 
<!-- () para acceder a los eventos del boton
En este caso se usa el evento (click)="funcion()" -->
<button (click)="increaseBy( +1 )"> +1 </button>
<button (click)="resetCounter()"> Reset </button>
<button (click)="increaseBy( -1 )" > -1  </button>
<hr>
<!-- componente independiente Counter -->
<app-counter></app-counter>
<hr>
<!-- Componente character -->
 <h1>Componente Personaje</h1>
 <hr>
 <div class="container">
     <app-characters-character></app-characters-character>
 </div>
 <hr>
<!-- Componente list chatacter-->
<h1>Componente Lista personajes</h1>
<hr>
<div class="container">
    <app-character-list></app-character-list>
</div>
<hr>